.nav{
    display: flex;
    background-color: var(--ntr-dark-blue);
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-radius: 0px 0px 25px 25px;
    padding-top: 25px;
    font-size: 21px;
    color: var(--ntr-pale-blue);
    margin-bottom: 25px;
}

.nav button{
    width: 94px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: var(--ntr-pale-blue);   
    font-size: 21px;
}
.nav button:hover{
    color: white;
    cursor: pointer;
}

@media (min-width: 1024px){
    .nav{
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        height: 32%;

    }
    .nav button{
        text-align: left;
        margin: 15px 40px ;
    }
}